@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Bepyan LIGHT Colors */
    --gray-50: #ffffff;
    --gray-75: #fdfdfd;
    --gray-100: #f8f8f8;
    --gray-200: #e6e6e6;
    --gray-300: #d5d5d5;
    --gray-400: #b1b1b1;
    --gray-500: #909090;
    --gray-600: #6d6d6d;
    --gray-700: #464646;
    --gray-800: #222222;
    --gray-900: #000000;
    --gray-950: #000000;

    --selection: hsla(0, 0%, 0%, 0.045);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-700);
    --text-disabled: var(--gray-500);
  }

  .dark {
    --background: 0, 0%, 8%;
    --background-old: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Bepyan DARK colours */
    --gray-50: #000;
    --gray-75: #141414;
    --gray-100: #1d1d1d;
    --gray-200: #303030;
    --gray-300: #4b4b4b;
    --gray-400: #6a6a6a;
    --gray-500: #8d8d8d;
    --gray-600: #b0b0b0;
    --gray-700: #d0d0d0;
    --gray-800: #ebebeb;
    --gray-900: #fff;
    --gray-950: #fff;

    --selection: hsla(0, 0%, 100%, 0.077);
    --page-background: var(--gray-75);

    --heading: var(--gray-900);
    --text-body: var(--gray-800);
    --text-second: var(--gray-600);
    --text-disabled: var(--gray-500);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* ---- scrollbar ---- */
  * {
    --scrollbar-size: 16px;
    --scrollbar-size-min: 44px;
    --scrollbar-color: var(--gray-200);
    scrollbar-color: var(--scrollbar-color) transparent;
    /* firefox */
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}

@layer components {
  .external-link {
    @apply underline decoration-border dark:decoration-[#262626] underline-offset-4 hover:decoration-transparent;
    @apply duration-200 ease-in-out hover:duration-100;
    @apply relative inline-block break-all;
  }

  .external-link::before {
    @apply absolute -inset-x-1 bottom-0.5 top-0 -z-10 rounded transition-colors hover:bg-[#F4F4F4] dark:hover:bg-[#262626];
    content: "";
  }

  .external-link::after {
    @apply m-0 inline-block h-3.5 w-3.5;
    background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }

  .dark .external-link::after {
    @apply m-0 inline-block h-3.5 w-3.5;
    background: url('data:image/svg+xml;utf8,<svg color="%23B0B0B0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
}
