---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
---

<Layout title="What I Use - Danny Bao">
	<section>
		Main section here.
		<p class="text-accent">Accent colour difference</p>
	</section>
</Layout>