---
const year = new Date().getFullYear();
---

<footer class="mt-[128px] text-center">
  <small>&copy; Danny Bao. {year}. Licence <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer" class="external-link">CC BY 4.0
    <img
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
      style="height:12px!important;display:inline-block;margin-left:3px;"
      alt="creativecommons"
    /><img
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
      style="height:12px!important;display:inline-block;margin-left:1px;"
      alt="creativecommons"
    /></a></small>
</footer>