---
import Navbar from '@/components/Navbar.astro';
import ThemeHeadScript from '@/components/theme-head-script.astro';
import Footer from '@/components/Footer.astro'
import "../styles/global.css"

interface Props {
	title: string;
}

const { title = "What I Use - Danny Bao" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ThemeHeadScript />
	</head>
	<body>
		
		<main class="mx-auto max-w-screen-md my-[124px]">
			<Navbar />
			<slot />
			<Footer />
		</main>

	</body>
</html>
